{% extends "base.html" %}
{% block title %}Home{% endblock title%}
{% block content %}
        <main class="content-wrapper">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                <div class="mdc-card">
                  <h6 class="card-title">Line chart</h6>
                  {{plot2|safe}}
                </div>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                <div class="mdc-card">
                  <h6 class="card-title">Bar chart</h6>
                
                  {{ plot3|safe }} 
                  
                </div>
              </div>
            
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                <div class="mdc-card">
                  <h6 class="card-title">Pie chart</h6>
                  {{ plot|safe }}
                </div>
              </div>
              
              </div>
            </div>
          </div>
        </main>
{% endblock %}