<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_98af70ff92eb4191b088d59dcf50b099 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_98af70ff92eb4191b088d59dcf50b099" ></div>
        
</body>
<script>    
    
            var map_98af70ff92eb4191b088d59dcf50b099 = L.map(
                "map_98af70ff92eb4191b088d59dcf50b099",
                {
                    center: [1.373333, 32.290276],
                    crs: L.CRS.EPSG3857,
                    zoom: 7.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a0ac69f9ae3047d6bd268ec4bd0ce6ec = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
            var circle_marker_66ee915e5ccb427894b06a834f7e9dd7 = L.circleMarker(
                [0.32963909999999996, 32.5713769],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
        var popup_ac39a9c556a34a46be8867a44541e29f = L.popup({"maxWidth": "100%"});

        
            var html_f36db15c884344588a0e04fb3642c46d = $(`<div id="html_f36db15c884344588a0e04fb3642c46d" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_ac39a9c556a34a46be8867a44541e29f.setContent(html_f36db15c884344588a0e04fb3642c46d);
        

        circle_marker_66ee915e5ccb427894b06a834f7e9dd7.bindPopup(popup_ac39a9c556a34a46be8867a44541e29f)
        ;

        
    
    
            circle_marker_66ee915e5ccb427894b06a834f7e9dd7.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_316c6206978343859a264f28884be566 = L.circleMarker(
                [0.3321175, 32.570638300000006],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
        var popup_3c1e880d42a348f9b4290cd5fa8f03eb = L.popup({"maxWidth": "100%"});

        
            var html_b25e003d09714d898b436a6dc705111c = $(`<div id="html_b25e003d09714d898b436a6dc705111c" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_3c1e880d42a348f9b4290cd5fa8f03eb.setContent(html_b25e003d09714d898b436a6dc705111c);
        

        circle_marker_316c6206978343859a264f28884be566.bindPopup(popup_3c1e880d42a348f9b4290cd5fa8f03eb)
        ;

        
    
    
            circle_marker_316c6206978343859a264f28884be566.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_1ba4da01dac34f7e800be8394ce03b56 = L.circleMarker(
                [0.3320703, 32.5632667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
        var popup_336995947d9d48c690d15af610adea4c = L.popup({"maxWidth": "100%"});

        
            var html_46c30390d1b54dceb2abe489eb813e1a = $(`<div id="html_46c30390d1b54dceb2abe489eb813e1a" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_336995947d9d48c690d15af610adea4c.setContent(html_46c30390d1b54dceb2abe489eb813e1a);
        

        circle_marker_1ba4da01dac34f7e800be8394ce03b56.bindPopup(popup_336995947d9d48c690d15af610adea4c)
        ;

        
    
    
            circle_marker_1ba4da01dac34f7e800be8394ce03b56.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d9322713511644eea7e81a8197ad8962 = L.circleMarker(
                [0.33204429999999996, 32.5632642],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
        var popup_ae1a0fa598274435b08cfc3ce4aa06f6 = L.popup({"maxWidth": "100%"});

        
            var html_9924ddcdb3b54b6a8c0494ef35398ade = $(`<div id="html_9924ddcdb3b54b6a8c0494ef35398ade" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_ae1a0fa598274435b08cfc3ce4aa06f6.setContent(html_9924ddcdb3b54b6a8c0494ef35398ade);
        

        circle_marker_d9322713511644eea7e81a8197ad8962.bindPopup(popup_ae1a0fa598274435b08cfc3ce4aa06f6)
        ;

        
    
    
            circle_marker_d9322713511644eea7e81a8197ad8962.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b727427e60e24bbca544a173c047ca33 = L.circleMarker(
                [0.3320845, 32.5632868],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
        var popup_1a253bca41574f22acb165d92c22d1e1 = L.popup({"maxWidth": "100%"});

        
            var html_0699a204e3d248fe945b2e2ca188ed70 = $(`<div id="html_0699a204e3d248fe945b2e2ca188ed70" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_1a253bca41574f22acb165d92c22d1e1.setContent(html_0699a204e3d248fe945b2e2ca188ed70);
        

        circle_marker_b727427e60e24bbca544a173c047ca33.bindPopup(popup_1a253bca41574f22acb165d92c22d1e1)
        ;

        
    
    
            circle_marker_b727427e60e24bbca544a173c047ca33.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_87456b9b1af04ad695221fd1c70cd00d = L.circleMarker(
                [0.3320672, 32.5632675],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
        var popup_574c61f900d947e18d16d8267c149835 = L.popup({"maxWidth": "100%"});

        
            var html_7710fc652ffe4217b042b54c17ecaba8 = $(`<div id="html_7710fc652ffe4217b042b54c17ecaba8" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_574c61f900d947e18d16d8267c149835.setContent(html_7710fc652ffe4217b042b54c17ecaba8);
        

        circle_marker_87456b9b1af04ad695221fd1c70cd00d.bindPopup(popup_574c61f900d947e18d16d8267c149835)
        ;

        
    
    
            circle_marker_87456b9b1af04ad695221fd1c70cd00d.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a1632734366440eaa63328ec6ec9cca0 = L.circleMarker(
                [0.3320571, 32.5632677],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
        var popup_3f7c0673211d409182c04d692c225dcc = L.popup({"maxWidth": "100%"});

        
            var html_384dca3dd1944cf0bf50d7cc9dd3ab8e = $(`<div id="html_384dca3dd1944cf0bf50d7cc9dd3ab8e" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_3f7c0673211d409182c04d692c225dcc.setContent(html_384dca3dd1944cf0bf50d7cc9dd3ab8e);
        

        circle_marker_a1632734366440eaa63328ec6ec9cca0.bindPopup(popup_3f7c0673211d409182c04d692c225dcc)
        ;

        
    
    
            circle_marker_a1632734366440eaa63328ec6ec9cca0.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b0e06d214db04d01b67139f324727d6c = L.circleMarker(
                [0.33204629999999996, 32.5632648],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
        var popup_f59c4b3922df4fabbc1c170d166cdacb = L.popup({"maxWidth": "100%"});

        
            var html_93dae8bfd0a143e592ae8f7d4b42f4ed = $(`<div id="html_93dae8bfd0a143e592ae8f7d4b42f4ed" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_f59c4b3922df4fabbc1c170d166cdacb.setContent(html_93dae8bfd0a143e592ae8f7d4b42f4ed);
        

        circle_marker_b0e06d214db04d01b67139f324727d6c.bindPopup(popup_f59c4b3922df4fabbc1c170d166cdacb)
        ;

        
    
    
            circle_marker_b0e06d214db04d01b67139f324727d6c.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_37de82e6b8154bbc9eee1404571b26d0 = L.circleMarker(
                [0.3320695, 32.5632672],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
        var popup_828e90b733e849d98dfef26cc5b0e1a4 = L.popup({"maxWidth": "100%"});

        
            var html_1f2fbbcdd6c747c1b1c0e99a4e7a4acc = $(`<div id="html_1f2fbbcdd6c747c1b1c0e99a4e7a4acc" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_828e90b733e849d98dfef26cc5b0e1a4.setContent(html_1f2fbbcdd6c747c1b1c0e99a4e7a4acc);
        

        circle_marker_37de82e6b8154bbc9eee1404571b26d0.bindPopup(popup_828e90b733e849d98dfef26cc5b0e1a4)
        ;

        
    
    
            circle_marker_37de82e6b8154bbc9eee1404571b26d0.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_300a40a66c234522ae04e62fd317457b = L.circleMarker(
                [0.3320676, 32.5632606],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
        var popup_cc33ab1491ce4392902c67eaebdae02e = L.popup({"maxWidth": "100%"});

        
            var html_685b1646747440b28120f59a3254c44a = $(`<div id="html_685b1646747440b28120f59a3254c44a" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_cc33ab1491ce4392902c67eaebdae02e.setContent(html_685b1646747440b28120f59a3254c44a);
        

        circle_marker_300a40a66c234522ae04e62fd317457b.bindPopup(popup_cc33ab1491ce4392902c67eaebdae02e)
        ;

        
    
    
            circle_marker_300a40a66c234522ae04e62fd317457b.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_825a491f61384fcdbbd833cefefe4e5f = L.circleMarker(
                [0.3320663, 32.5632637],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
        var popup_681bb3594cad47f894920eb40eef041f = L.popup({"maxWidth": "100%"});

        
            var html_4d9154ba398247048239157df9db4bbb = $(`<div id="html_4d9154ba398247048239157df9db4bbb" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_681bb3594cad47f894920eb40eef041f.setContent(html_4d9154ba398247048239157df9db4bbb);
        

        circle_marker_825a491f61384fcdbbd833cefefe4e5f.bindPopup(popup_681bb3594cad47f894920eb40eef041f)
        ;

        
    
    
            circle_marker_825a491f61384fcdbbd833cefefe4e5f.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_eff63f79a87346fc87619a827bb2a6f3 = L.circleMarker(
                [0.3320666, 32.5632672],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_98af70ff92eb4191b088d59dcf50b099);
        
    
        var popup_5a6e349c04524e5b9208f73203d432cf = L.popup({"maxWidth": "100%"});

        
            var html_5b68b10c0b384aecad3bbe6e9d97908a = $(`<div id="html_5b68b10c0b384aecad3bbe6e9d97908a" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_5a6e349c04524e5b9208f73203d432cf.setContent(html_5b68b10c0b384aecad3bbe6e9d97908a);
        

        circle_marker_eff63f79a87346fc87619a827bb2a6f3.bindPopup(popup_5a6e349c04524e5b9208f73203d432cf)
        ;

        
    
    
            circle_marker_eff63f79a87346fc87619a827bb2a6f3.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
</script>