<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cabb35b3c36d4382b0e13152d7c58827 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_cabb35b3c36d4382b0e13152d7c58827" ></div>
        
</body>
<script>    
    
            var map_cabb35b3c36d4382b0e13152d7c58827 = L.map(
                "map_cabb35b3c36d4382b0e13152d7c58827",
                {
                    center: [1.373333, 32.290276],
                    crs: L.CRS.EPSG3857,
                    zoom: 7.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c3aeb14acf77467e9de51186502278db = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
            var circle_marker_a6a6a8d18abc47cb9a2141eeeac9c32f = L.circleMarker(
                [0.32963909999999996, 32.5713769],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
        var popup_6f79505f7601446681ed1dbef6bc4b68 = L.popup({"maxWidth": "100%"});

        
            var html_67d5d12e7bfa4fd181486e250730847d = $(`<div id="html_67d5d12e7bfa4fd181486e250730847d" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_6f79505f7601446681ed1dbef6bc4b68.setContent(html_67d5d12e7bfa4fd181486e250730847d);
        

        circle_marker_a6a6a8d18abc47cb9a2141eeeac9c32f.bindPopup(popup_6f79505f7601446681ed1dbef6bc4b68)
        ;

        
    
    
            circle_marker_a6a6a8d18abc47cb9a2141eeeac9c32f.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_5b9abee2c59143f48ac236beafc4ee99 = L.circleMarker(
                [0.3321175, 32.570638300000006],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
        var popup_1e258ba554d344f886f443e09cd4a0ed = L.popup({"maxWidth": "100%"});

        
            var html_fae5df3926494e5b9f58f60ee1336722 = $(`<div id="html_fae5df3926494e5b9f58f60ee1336722" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_1e258ba554d344f886f443e09cd4a0ed.setContent(html_fae5df3926494e5b9f58f60ee1336722);
        

        circle_marker_5b9abee2c59143f48ac236beafc4ee99.bindPopup(popup_1e258ba554d344f886f443e09cd4a0ed)
        ;

        
    
    
            circle_marker_5b9abee2c59143f48ac236beafc4ee99.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b1ac1715505641358bab5e42c964d56b = L.circleMarker(
                [0.3320703, 32.5632667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
        var popup_0aff85ab0804476ea70baba455f02814 = L.popup({"maxWidth": "100%"});

        
            var html_eab95aee06f74d54861a7eb5496e8c3c = $(`<div id="html_eab95aee06f74d54861a7eb5496e8c3c" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_0aff85ab0804476ea70baba455f02814.setContent(html_eab95aee06f74d54861a7eb5496e8c3c);
        

        circle_marker_b1ac1715505641358bab5e42c964d56b.bindPopup(popup_0aff85ab0804476ea70baba455f02814)
        ;

        
    
    
            circle_marker_b1ac1715505641358bab5e42c964d56b.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_42f3b442bd534cbdb3d6dc2fd01e9bc2 = L.circleMarker(
                [0.33204429999999996, 32.5632642],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
        var popup_7f871a14bbde4526b92e129ae1eb70fa = L.popup({"maxWidth": "100%"});

        
            var html_0755029eb26b4c8ca1e6e581b191854c = $(`<div id="html_0755029eb26b4c8ca1e6e581b191854c" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_7f871a14bbde4526b92e129ae1eb70fa.setContent(html_0755029eb26b4c8ca1e6e581b191854c);
        

        circle_marker_42f3b442bd534cbdb3d6dc2fd01e9bc2.bindPopup(popup_7f871a14bbde4526b92e129ae1eb70fa)
        ;

        
    
    
            circle_marker_42f3b442bd534cbdb3d6dc2fd01e9bc2.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_e90f7a312b9046f3bd031d5e63be7dc8 = L.circleMarker(
                [0.3320845, 32.5632868],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
        var popup_9ca1f89d260b443aad03f98eb03c66fa = L.popup({"maxWidth": "100%"});

        
            var html_2b596ffbc4614b23b98f9580659945e7 = $(`<div id="html_2b596ffbc4614b23b98f9580659945e7" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_9ca1f89d260b443aad03f98eb03c66fa.setContent(html_2b596ffbc4614b23b98f9580659945e7);
        

        circle_marker_e90f7a312b9046f3bd031d5e63be7dc8.bindPopup(popup_9ca1f89d260b443aad03f98eb03c66fa)
        ;

        
    
    
            circle_marker_e90f7a312b9046f3bd031d5e63be7dc8.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d9a892a63a9848a2a1262d36295caefd = L.circleMarker(
                [0.3320672, 32.5632675],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
        var popup_c1ea7db257b04e2584513957b0358321 = L.popup({"maxWidth": "100%"});

        
            var html_0acc25fe54f44f1cb1a765ce695ef6fc = $(`<div id="html_0acc25fe54f44f1cb1a765ce695ef6fc" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_c1ea7db257b04e2584513957b0358321.setContent(html_0acc25fe54f44f1cb1a765ce695ef6fc);
        

        circle_marker_d9a892a63a9848a2a1262d36295caefd.bindPopup(popup_c1ea7db257b04e2584513957b0358321)
        ;

        
    
    
            circle_marker_d9a892a63a9848a2a1262d36295caefd.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d5d4feefdfdf4cc9914c83ed288b17ea = L.circleMarker(
                [0.3320571, 32.5632677],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
        var popup_d7de958755904df1ac8b0f2937ed2ddc = L.popup({"maxWidth": "100%"});

        
            var html_cf24c8a3f08247f2b198bc506ce08086 = $(`<div id="html_cf24c8a3f08247f2b198bc506ce08086" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_d7de958755904df1ac8b0f2937ed2ddc.setContent(html_cf24c8a3f08247f2b198bc506ce08086);
        

        circle_marker_d5d4feefdfdf4cc9914c83ed288b17ea.bindPopup(popup_d7de958755904df1ac8b0f2937ed2ddc)
        ;

        
    
    
            circle_marker_d5d4feefdfdf4cc9914c83ed288b17ea.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a4fa9f637a8f4c529cc6c1bc82916954 = L.circleMarker(
                [0.33204629999999996, 32.5632648],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
        var popup_8346409b73da4669aec1d4f2ff6255d2 = L.popup({"maxWidth": "100%"});

        
            var html_2ed472f29e2f4ea7996a42d8ab5e93ce = $(`<div id="html_2ed472f29e2f4ea7996a42d8ab5e93ce" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_8346409b73da4669aec1d4f2ff6255d2.setContent(html_2ed472f29e2f4ea7996a42d8ab5e93ce);
        

        circle_marker_a4fa9f637a8f4c529cc6c1bc82916954.bindPopup(popup_8346409b73da4669aec1d4f2ff6255d2)
        ;

        
    
    
            circle_marker_a4fa9f637a8f4c529cc6c1bc82916954.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_561dffd536194ed0a54b02f20412d00c = L.circleMarker(
                [0.3320695, 32.5632672],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
        var popup_5c675a49903f4865a025628378848c21 = L.popup({"maxWidth": "100%"});

        
            var html_7b0869a91e4942298c9c172cb4e68922 = $(`<div id="html_7b0869a91e4942298c9c172cb4e68922" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_5c675a49903f4865a025628378848c21.setContent(html_7b0869a91e4942298c9c172cb4e68922);
        

        circle_marker_561dffd536194ed0a54b02f20412d00c.bindPopup(popup_5c675a49903f4865a025628378848c21)
        ;

        
    
    
            circle_marker_561dffd536194ed0a54b02f20412d00c.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_4bb95f0d7f424e85ba0354f467083ac7 = L.circleMarker(
                [0.3320676, 32.5632606],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
        var popup_7a814d49672047babacc50867f299a30 = L.popup({"maxWidth": "100%"});

        
            var html_bd8bc5fb7be74d859748779f4daef8d3 = $(`<div id="html_bd8bc5fb7be74d859748779f4daef8d3" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_7a814d49672047babacc50867f299a30.setContent(html_bd8bc5fb7be74d859748779f4daef8d3);
        

        circle_marker_4bb95f0d7f424e85ba0354f467083ac7.bindPopup(popup_7a814d49672047babacc50867f299a30)
        ;

        
    
    
            circle_marker_4bb95f0d7f424e85ba0354f467083ac7.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_de6d44ebd03e4cc3a3f48a6da3ffa4e0 = L.circleMarker(
                [0.3320663, 32.5632637],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
        var popup_6bd64d95c3c14a0a988574426665a30d = L.popup({"maxWidth": "100%"});

        
            var html_bba68f1f0f9546fe9f641701b135e45e = $(`<div id="html_bba68f1f0f9546fe9f641701b135e45e" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_6bd64d95c3c14a0a988574426665a30d.setContent(html_bba68f1f0f9546fe9f641701b135e45e);
        

        circle_marker_de6d44ebd03e4cc3a3f48a6da3ffa4e0.bindPopup(popup_6bd64d95c3c14a0a988574426665a30d)
        ;

        
    
    
            circle_marker_de6d44ebd03e4cc3a3f48a6da3ffa4e0.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_199b745fb208471c8d1003833c895a03 = L.circleMarker(
                [0.3320666, 32.5632672],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_cabb35b3c36d4382b0e13152d7c58827);
        
    
        var popup_e7ec273969734534888356db95318c0f = L.popup({"maxWidth": "100%"});

        
            var html_fb7b4888a43b4d3fbad23fca933880a5 = $(`<div id="html_fb7b4888a43b4d3fbad23fca933880a5" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_e7ec273969734534888356db95318c0f.setContent(html_fb7b4888a43b4d3fbad23fca933880a5);
        

        circle_marker_199b745fb208471c8d1003833c895a03.bindPopup(popup_e7ec273969734534888356db95318c0f)
        ;

        
    
    
            circle_marker_199b745fb208471c8d1003833c895a03.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
</script>