<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_550e98c2edb644558e1ff96e4a79bceb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_550e98c2edb644558e1ff96e4a79bceb" ></div>
        
</body>
<script>    
    
            var map_550e98c2edb644558e1ff96e4a79bceb = L.map(
                "map_550e98c2edb644558e1ff96e4a79bceb",
                {
                    center: [1.373333, 32.290276],
                    crs: L.CRS.EPSG3857,
                    zoom: 7.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_940b19232f42489489ce087314cb78db = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
            var circle_marker_4bf5896a34d7470ca8bb1e0eb3b4faed = L.circleMarker(
                [12.897, -1.345],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_b11368b26c6f448ba6308a364a55ff0d = L.popup({"maxWidth": "100%"});

        
            var html_2a40c822fb5943e9825d110fb97a04a3 = $(`<div id="html_2a40c822fb5943e9825d110fb97a04a3" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_b11368b26c6f448ba6308a364a55ff0d.setContent(html_2a40c822fb5943e9825d110fb97a04a3);
        

        circle_marker_4bf5896a34d7470ca8bb1e0eb3b4faed.bindPopup(popup_b11368b26c6f448ba6308a364a55ff0d)
        ;

        
    
    
            circle_marker_4bf5896a34d7470ca8bb1e0eb3b4faed.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_9427334336a64b1d824f6b146aaa3173 = L.circleMarker(
                [12.897, -1.349],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_228712618de84877a9a7cbb2cccf6686 = L.popup({"maxWidth": "100%"});

        
            var html_8665e1263aea43c895f2b8597402f229 = $(`<div id="html_8665e1263aea43c895f2b8597402f229" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_228712618de84877a9a7cbb2cccf6686.setContent(html_8665e1263aea43c895f2b8597402f229);
        

        circle_marker_9427334336a64b1d824f6b146aaa3173.bindPopup(popup_228712618de84877a9a7cbb2cccf6686)
        ;

        
    
    
            circle_marker_9427334336a64b1d824f6b146aaa3173.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c7abe80811d84dcb9b71c283080e8b3d = L.circleMarker(
                [12.89, 90.9],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_7ccfca8db1344841b4a87706dace9436 = L.popup({"maxWidth": "100%"});

        
            var html_7dae105133914e15a6fadd7fdaa95b55 = $(`<div id="html_7dae105133914e15a6fadd7fdaa95b55" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_7ccfca8db1344841b4a87706dace9436.setContent(html_7dae105133914e15a6fadd7fdaa95b55);
        

        circle_marker_c7abe80811d84dcb9b71c283080e8b3d.bindPopup(popup_7ccfca8db1344841b4a87706dace9436)
        ;

        
    
    
            circle_marker_c7abe80811d84dcb9b71c283080e8b3d.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_68dddffa158d480cbf371c5b6eaf320c = L.circleMarker(
                [13.9, -1.899],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_e2afa374f87841f183ec1ba2efbfcad1 = L.popup({"maxWidth": "100%"});

        
            var html_fcebaddcc4b84a0d8815829f12a4a99a = $(`<div id="html_fcebaddcc4b84a0d8815829f12a4a99a" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_e2afa374f87841f183ec1ba2efbfcad1.setContent(html_fcebaddcc4b84a0d8815829f12a4a99a);
        

        circle_marker_68dddffa158d480cbf371c5b6eaf320c.bindPopup(popup_e2afa374f87841f183ec1ba2efbfcad1)
        ;

        
    
    
            circle_marker_68dddffa158d480cbf371c5b6eaf320c.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_49981b030f1442a49f6d9a29ec55fecc = L.circleMarker(
                [34.78, -12.45],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_a6d35e80cf2446bea1ce6d4ab4e0a848 = L.popup({"maxWidth": "100%"});

        
            var html_0f42d8c75d8046ffad2c7ceff48d7670 = $(`<div id="html_0f42d8c75d8046ffad2c7ceff48d7670" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_a6d35e80cf2446bea1ce6d4ab4e0a848.setContent(html_0f42d8c75d8046ffad2c7ceff48d7670);
        

        circle_marker_49981b030f1442a49f6d9a29ec55fecc.bindPopup(popup_a6d35e80cf2446bea1ce6d4ab4e0a848)
        ;

        
    
    
            circle_marker_49981b030f1442a49f6d9a29ec55fecc.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d4dbd4a2010d4db292821711fe25ba2c = L.circleMarker(
                [12.897, -1.34565],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_304b129231624920ad290f88d6526cb9 = L.popup({"maxWidth": "100%"});

        
            var html_f93a9330d4ed4661b3bdd989e314e3c1 = $(`<div id="html_f93a9330d4ed4661b3bdd989e314e3c1" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_304b129231624920ad290f88d6526cb9.setContent(html_f93a9330d4ed4661b3bdd989e314e3c1);
        

        circle_marker_d4dbd4a2010d4db292821711fe25ba2c.bindPopup(popup_304b129231624920ad290f88d6526cb9)
        ;

        
    
    
            circle_marker_d4dbd4a2010d4db292821711fe25ba2c.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0152670a55d9492fa86e85aaf900db2f = L.circleMarker(
                [12.897, -1.3496],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_f93b66d1d5d6483ba70cd14832d0892e = L.popup({"maxWidth": "100%"});

        
            var html_a2bd86339e1e474a9b11f9239397f9d9 = $(`<div id="html_a2bd86339e1e474a9b11f9239397f9d9" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_f93b66d1d5d6483ba70cd14832d0892e.setContent(html_a2bd86339e1e474a9b11f9239397f9d9);
        

        circle_marker_0152670a55d9492fa86e85aaf900db2f.bindPopup(popup_f93b66d1d5d6483ba70cd14832d0892e)
        ;

        
    
    
            circle_marker_0152670a55d9492fa86e85aaf900db2f.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_3785528842b54e49b76220ba04ce68b9 = L.circleMarker(
                [200.0, 200.0],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_97a24883606d4f018afc5a66291816a6 = L.popup({"maxWidth": "100%"});

        
            var html_f6e90f36fab94a62b22a860b0d2a02aa = $(`<div id="html_f6e90f36fab94a62b22a860b0d2a02aa" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_97a24883606d4f018afc5a66291816a6.setContent(html_f6e90f36fab94a62b22a860b0d2a02aa);
        

        circle_marker_3785528842b54e49b76220ba04ce68b9.bindPopup(popup_97a24883606d4f018afc5a66291816a6)
        ;

        
    
    
            circle_marker_3785528842b54e49b76220ba04ce68b9.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ff7f1c5398f04a70a5ca87159ef15ff3 = L.circleMarker(
                [200.0, 2009.0],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_3422b5b806b042fdabbab872310c236d = L.popup({"maxWidth": "100%"});

        
            var html_851a69b35bee4fcb9da5f0486dd09f2d = $(`<div id="html_851a69b35bee4fcb9da5f0486dd09f2d" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_3422b5b806b042fdabbab872310c236d.setContent(html_851a69b35bee4fcb9da5f0486dd09f2d);
        

        circle_marker_ff7f1c5398f04a70a5ca87159ef15ff3.bindPopup(popup_3422b5b806b042fdabbab872310c236d)
        ;

        
    
    
            circle_marker_ff7f1c5398f04a70a5ca87159ef15ff3.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b74f4de997ae4bf29fea7ac74832bfac = L.circleMarker(
                [12.895, -1.3455],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_007c6fd9facc411aa891e93dba52fcd0 = L.popup({"maxWidth": "100%"});

        
            var html_592e15a0ad4040958741cc3e0bcd33fa = $(`<div id="html_592e15a0ad4040958741cc3e0bcd33fa" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_007c6fd9facc411aa891e93dba52fcd0.setContent(html_592e15a0ad4040958741cc3e0bcd33fa);
        

        circle_marker_b74f4de997ae4bf29fea7ac74832bfac.bindPopup(popup_007c6fd9facc411aa891e93dba52fcd0)
        ;

        
    
    
            circle_marker_b74f4de997ae4bf29fea7ac74832bfac.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0e91ca9fddd3426fb4e224b601f8711a = L.circleMarker(
                [2001.0, 203.0],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_a0886e31ced64c7aa06f7d2cc69d0e97 = L.popup({"maxWidth": "100%"});

        
            var html_87a2dc3a5d9948f0ad17606bbc9d7436 = $(`<div id="html_87a2dc3a5d9948f0ad17606bbc9d7436" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_a0886e31ced64c7aa06f7d2cc69d0e97.setContent(html_87a2dc3a5d9948f0ad17606bbc9d7436);
        

        circle_marker_0e91ca9fddd3426fb4e224b601f8711a.bindPopup(popup_a0886e31ced64c7aa06f7d2cc69d0e97)
        ;

        
    
    
            circle_marker_0e91ca9fddd3426fb4e224b601f8711a.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6fb9268720ad490d9220662525d1012b = L.circleMarker(
                [12.4567, -1.34455],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_304e76df00384d20b806bfc889a4e7e5 = L.popup({"maxWidth": "100%"});

        
            var html_e56cb08c67474da79e327020c1f1b43d = $(`<div id="html_e56cb08c67474da79e327020c1f1b43d" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_304e76df00384d20b806bfc889a4e7e5.setContent(html_e56cb08c67474da79e327020c1f1b43d);
        

        circle_marker_6fb9268720ad490d9220662525d1012b.bindPopup(popup_304e76df00384d20b806bfc889a4e7e5)
        ;

        
    
    
            circle_marker_6fb9268720ad490d9220662525d1012b.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_353c0a38b1654921bf5902f70344a424 = L.circleMarker(
                [0.3337883, 32.5608267],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_b04aeea892cc4d1dbea033710b2c9906 = L.popup({"maxWidth": "100%"});

        
            var html_f9b93080372e42ac82e59852c61c1040 = $(`<div id="html_f9b93080372e42ac82e59852c61c1040" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_b04aeea892cc4d1dbea033710b2c9906.setContent(html_f9b93080372e42ac82e59852c61c1040);
        

        circle_marker_353c0a38b1654921bf5902f70344a424.bindPopup(popup_b04aeea892cc4d1dbea033710b2c9906)
        ;

        
    
    
            circle_marker_353c0a38b1654921bf5902f70344a424.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6bf89f815bb943c18f6fca280a657f3b = L.circleMarker(
                [0.3340028, 32.56098],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_627693cc347e416e9239afa10e688d0d = L.popup({"maxWidth": "100%"});

        
            var html_1cf2a8880909481c9b7aa691becf44c3 = $(`<div id="html_1cf2a8880909481c9b7aa691becf44c3" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_627693cc347e416e9239afa10e688d0d.setContent(html_1cf2a8880909481c9b7aa691becf44c3);
        

        circle_marker_6bf89f815bb943c18f6fca280a657f3b.bindPopup(popup_627693cc347e416e9239afa10e688d0d)
        ;

        
    
    
            circle_marker_6bf89f815bb943c18f6fca280a657f3b.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6c4b5959bb054d9284c8bc8f9e69f02b = L.circleMarker(
                [0.33393870000000003, 32.5606127],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_38d90170c5194fb3ae8a0fa05fe9a0b6 = L.popup({"maxWidth": "100%"});

        
            var html_bfc5544ca0764c1ba8645200e8eeca7d = $(`<div id="html_bfc5544ca0764c1ba8645200e8eeca7d" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_38d90170c5194fb3ae8a0fa05fe9a0b6.setContent(html_bfc5544ca0764c1ba8645200e8eeca7d);
        

        circle_marker_6c4b5959bb054d9284c8bc8f9e69f02b.bindPopup(popup_38d90170c5194fb3ae8a0fa05fe9a0b6)
        ;

        
    
    
            circle_marker_6c4b5959bb054d9284c8bc8f9e69f02b.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_cb0e7294c4a3469f82f804e898ca5a7b = L.circleMarker(
                [0.3341067, 32.5609],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_767cb3026e06403cb9cbc4d58424a1d4 = L.popup({"maxWidth": "100%"});

        
            var html_3cf02367200a43cc9a651ab0fedadb6d = $(`<div id="html_3cf02367200a43cc9a651ab0fedadb6d" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_767cb3026e06403cb9cbc4d58424a1d4.setContent(html_3cf02367200a43cc9a651ab0fedadb6d);
        

        circle_marker_cb0e7294c4a3469f82f804e898ca5a7b.bindPopup(popup_767cb3026e06403cb9cbc4d58424a1d4)
        ;

        
    
    
            circle_marker_cb0e7294c4a3469f82f804e898ca5a7b.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_95fc766513744c3b8bc7f3e3aaa8c071 = L.circleMarker(
                [0.3340411, 32.5624283],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_4e74d4d839dc41a1bc1c5c1a3a8a4990 = L.popup({"maxWidth": "100%"});

        
            var html_e487300daa704ddf9e832cace0d1c519 = $(`<div id="html_e487300daa704ddf9e832cace0d1c519" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_4e74d4d839dc41a1bc1c5c1a3a8a4990.setContent(html_e487300daa704ddf9e832cace0d1c519);
        

        circle_marker_95fc766513744c3b8bc7f3e3aaa8c071.bindPopup(popup_4e74d4d839dc41a1bc1c5c1a3a8a4990)
        ;

        
    
    
            circle_marker_95fc766513744c3b8bc7f3e3aaa8c071.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0942f1863a2b4e6c8eb8d4f29decff9b = L.circleMarker(
                [0.3341146, 32.5621341],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_bb46459fc24847258c899a8dc4b15d1b = L.popup({"maxWidth": "100%"});

        
            var html_565ebfa810ea47b084c8cb385b33681e = $(`<div id="html_565ebfa810ea47b084c8cb385b33681e" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_bb46459fc24847258c899a8dc4b15d1b.setContent(html_565ebfa810ea47b084c8cb385b33681e);
        

        circle_marker_0942f1863a2b4e6c8eb8d4f29decff9b.bindPopup(popup_bb46459fc24847258c899a8dc4b15d1b)
        ;

        
    
    
            circle_marker_0942f1863a2b4e6c8eb8d4f29decff9b.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_5b2cca4c02ee4e6cb32396d7626b7de5 = L.circleMarker(
                [0.3341115, 32.5626567],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_413646031ead477ca9dc9c62150148e3 = L.popup({"maxWidth": "100%"});

        
            var html_6d60fc5352844fa5b8607b6f6d05bd2b = $(`<div id="html_6d60fc5352844fa5b8607b6f6d05bd2b" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_413646031ead477ca9dc9c62150148e3.setContent(html_6d60fc5352844fa5b8607b6f6d05bd2b);
        

        circle_marker_5b2cca4c02ee4e6cb32396d7626b7de5.bindPopup(popup_413646031ead477ca9dc9c62150148e3)
        ;

        
    
    
            circle_marker_5b2cca4c02ee4e6cb32396d7626b7de5.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b546331e81564ea48ddae736105927d9 = L.circleMarker(
                [0.333975, 32.5626917],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_da1f0bc2109a4d8bb0770c954c223414 = L.popup({"maxWidth": "100%"});

        
            var html_e88d468b7a2d4391a3ec571a33a1df4f = $(`<div id="html_e88d468b7a2d4391a3ec571a33a1df4f" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_da1f0bc2109a4d8bb0770c954c223414.setContent(html_e88d468b7a2d4391a3ec571a33a1df4f);
        

        circle_marker_b546331e81564ea48ddae736105927d9.bindPopup(popup_da1f0bc2109a4d8bb0770c954c223414)
        ;

        
    
    
            circle_marker_b546331e81564ea48ddae736105927d9.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d7c94779d6514a248defc2133a32a3d5 = L.circleMarker(
                [0.334561, 32.5624554],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_5e0efb6fcff9414fb639d4341a653343 = L.popup({"maxWidth": "100%"});

        
            var html_5988b68dd169454ab6dc9ae0d6b58b91 = $(`<div id="html_5988b68dd169454ab6dc9ae0d6b58b91" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_5e0efb6fcff9414fb639d4341a653343.setContent(html_5988b68dd169454ab6dc9ae0d6b58b91);
        

        circle_marker_d7c94779d6514a248defc2133a32a3d5.bindPopup(popup_5e0efb6fcff9414fb639d4341a653343)
        ;

        
    
    
            circle_marker_d7c94779d6514a248defc2133a32a3d5.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_7b786a9660274890a3e4c317fc30faf0 = L.circleMarker(
                [0.369207, 32.7299602],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_82abf7976a494c3995e73e67f884dde3 = L.popup({"maxWidth": "100%"});

        
            var html_f745f374f8124412ae522338556360d7 = $(`<div id="html_f745f374f8124412ae522338556360d7" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_82abf7976a494c3995e73e67f884dde3.setContent(html_f745f374f8124412ae522338556360d7);
        

        circle_marker_7b786a9660274890a3e4c317fc30faf0.bindPopup(popup_82abf7976a494c3995e73e67f884dde3)
        ;

        
    
    
            circle_marker_7b786a9660274890a3e4c317fc30faf0.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_da37467111a54237a6bf7322f110ac8e = L.circleMarker(
                [0.3311633, 32.5643177],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_df036dabf65e4e2690a411d20f49d9d1 = L.popup({"maxWidth": "100%"});

        
            var html_dd0b60d8706b4ba08d9b34ff2b7d4b57 = $(`<div id="html_dd0b60d8706b4ba08d9b34ff2b7d4b57" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_df036dabf65e4e2690a411d20f49d9d1.setContent(html_dd0b60d8706b4ba08d9b34ff2b7d4b57);
        

        circle_marker_da37467111a54237a6bf7322f110ac8e.bindPopup(popup_df036dabf65e4e2690a411d20f49d9d1)
        ;

        
    
    
            circle_marker_da37467111a54237a6bf7322f110ac8e.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_8c861cd67b35458f8f8f97b5faa5bbd0 = L.circleMarker(
                [0.3334439, 32.5639582],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_7230cff08802408b88e4c790724aec8c = L.popup({"maxWidth": "100%"});

        
            var html_0758abb34a51471cb182b97c0f052ef0 = $(`<div id="html_0758abb34a51471cb182b97c0f052ef0" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_7230cff08802408b88e4c790724aec8c.setContent(html_0758abb34a51471cb182b97c0f052ef0);
        

        circle_marker_8c861cd67b35458f8f8f97b5faa5bbd0.bindPopup(popup_7230cff08802408b88e4c790724aec8c)
        ;

        
    
    
            circle_marker_8c861cd67b35458f8f8f97b5faa5bbd0.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_29c97f55693f4964bea5284a489fd0d3 = L.circleMarker(
                [0.3863292, 32.628412],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_9fb8f887070b4417a195f833f6cbf26f = L.popup({"maxWidth": "100%"});

        
            var html_631b7a0d71ef400d8e0381e2db4eb29a = $(`<div id="html_631b7a0d71ef400d8e0381e2db4eb29a" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_9fb8f887070b4417a195f833f6cbf26f.setContent(html_631b7a0d71ef400d8e0381e2db4eb29a);
        

        circle_marker_29c97f55693f4964bea5284a489fd0d3.bindPopup(popup_9fb8f887070b4417a195f833f6cbf26f)
        ;

        
    
    
            circle_marker_29c97f55693f4964bea5284a489fd0d3.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6b7819ebe78b47a38ce8192807a5cbbc = L.circleMarker(
                [0.38514640000000006, 32.6291228],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_1dec2ad769534422a05e022cee8f41fd = L.popup({"maxWidth": "100%"});

        
            var html_2beb3ddf310d4fe3b86fa448095194dc = $(`<div id="html_2beb3ddf310d4fe3b86fa448095194dc" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_1dec2ad769534422a05e022cee8f41fd.setContent(html_2beb3ddf310d4fe3b86fa448095194dc);
        

        circle_marker_6b7819ebe78b47a38ce8192807a5cbbc.bindPopup(popup_1dec2ad769534422a05e022cee8f41fd)
        ;

        
    
    
            circle_marker_6b7819ebe78b47a38ce8192807a5cbbc.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_76cb71d266c84336ab7b5f43c51ef4fd = L.circleMarker(
                [0.38079050000000003, 32.630394800000005],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_062d5ac2dfab428e8f07e6d3b086f487 = L.popup({"maxWidth": "100%"});

        
            var html_2a3f27abd8d448bc902d9796711403eb = $(`<div id="html_2a3f27abd8d448bc902d9796711403eb" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_062d5ac2dfab428e8f07e6d3b086f487.setContent(html_2a3f27abd8d448bc902d9796711403eb);
        

        circle_marker_76cb71d266c84336ab7b5f43c51ef4fd.bindPopup(popup_062d5ac2dfab428e8f07e6d3b086f487)
        ;

        
    
    
            circle_marker_76cb71d266c84336ab7b5f43c51ef4fd.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_28f10fd880c840b69858d7ba29a2ffcf = L.circleMarker(
                [0.3321936, 32.5703311],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_8d490385e58f43bfadb5b6a5fcf61449 = L.popup({"maxWidth": "100%"});

        
            var html_eca7f0f5775d4b08be1d96ed46032cbe = $(`<div id="html_eca7f0f5775d4b08be1d96ed46032cbe" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_8d490385e58f43bfadb5b6a5fcf61449.setContent(html_eca7f0f5775d4b08be1d96ed46032cbe);
        

        circle_marker_28f10fd880c840b69858d7ba29a2ffcf.bindPopup(popup_8d490385e58f43bfadb5b6a5fcf61449)
        ;

        
    
    
            circle_marker_28f10fd880c840b69858d7ba29a2ffcf.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_116f415471bc4e4bb38940c84bad6992 = L.circleMarker(
                [0.31292729999999996, 32.582282899999996],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_fd93967324db4889b47e62067bc5cb3e = L.popup({"maxWidth": "100%"});

        
            var html_c659d29ad6f547b39c1241b705c86d3b = $(`<div id="html_c659d29ad6f547b39c1241b705c86d3b" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_fd93967324db4889b47e62067bc5cb3e.setContent(html_c659d29ad6f547b39c1241b705c86d3b);
        

        circle_marker_116f415471bc4e4bb38940c84bad6992.bindPopup(popup_fd93967324db4889b47e62067bc5cb3e)
        ;

        
    
    
            circle_marker_116f415471bc4e4bb38940c84bad6992.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_52aaa3786cdc4cbbb8268bea0f2d94d7 = L.circleMarker(
                [0.33192459999999996, 32.5633227],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_7c992415d5cf4b4395b08085dc238ab4 = L.popup({"maxWidth": "100%"});

        
            var html_10730d60d14c41b1a0bd2dee0f6448d8 = $(`<div id="html_10730d60d14c41b1a0bd2dee0f6448d8" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_7c992415d5cf4b4395b08085dc238ab4.setContent(html_10730d60d14c41b1a0bd2dee0f6448d8);
        

        circle_marker_52aaa3786cdc4cbbb8268bea0f2d94d7.bindPopup(popup_7c992415d5cf4b4395b08085dc238ab4)
        ;

        
    
    
            circle_marker_52aaa3786cdc4cbbb8268bea0f2d94d7.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_3a85f997340b4474bcad94c27688b3b1 = L.circleMarker(
                [0.3316631, 32.5631732],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_dca42606ccc541798524b1b6aaf6809f = L.popup({"maxWidth": "100%"});

        
            var html_0745a6d03e294c3a8f83ebc7aebd8330 = $(`<div id="html_0745a6d03e294c3a8f83ebc7aebd8330" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_dca42606ccc541798524b1b6aaf6809f.setContent(html_0745a6d03e294c3a8f83ebc7aebd8330);
        

        circle_marker_3a85f997340b4474bcad94c27688b3b1.bindPopup(popup_dca42606ccc541798524b1b6aaf6809f)
        ;

        
    
    
            circle_marker_3a85f997340b4474bcad94c27688b3b1.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_fa9e8764c68f482fb0989fa0d2fd66c4 = L.circleMarker(
                [0.3312645, 32.5634211],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_ab52cda0bced4998a98f710ce6e9548d = L.popup({"maxWidth": "100%"});

        
            var html_e0b404d389a240a19d09561ec51a4fab = $(`<div id="html_e0b404d389a240a19d09561ec51a4fab" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_ab52cda0bced4998a98f710ce6e9548d.setContent(html_e0b404d389a240a19d09561ec51a4fab);
        

        circle_marker_fa9e8764c68f482fb0989fa0d2fd66c4.bindPopup(popup_ab52cda0bced4998a98f710ce6e9548d)
        ;

        
    
    
            circle_marker_fa9e8764c68f482fb0989fa0d2fd66c4.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_1ba286dcc561469dbbaae45664a34186 = L.circleMarker(
                [0.3319053, 32.5632858],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_6e993343837a477599bc9ff7d985dc6d = L.popup({"maxWidth": "100%"});

        
            var html_4b044c04495b4828b8127616126a39b9 = $(`<div id="html_4b044c04495b4828b8127616126a39b9" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_6e993343837a477599bc9ff7d985dc6d.setContent(html_4b044c04495b4828b8127616126a39b9);
        

        circle_marker_1ba286dcc561469dbbaae45664a34186.bindPopup(popup_6e993343837a477599bc9ff7d985dc6d)
        ;

        
    
    
            circle_marker_1ba286dcc561469dbbaae45664a34186.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_4283516823644ad0a0ab781526471325 = L.circleMarker(
                [0.33199259999999997, 32.570450199999996],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_cdb1134a9de24c1aafdfc628666acaa3 = L.popup({"maxWidth": "100%"});

        
            var html_0bb81c85f2b5429384cd34a78d6b110e = $(`<div id="html_0bb81c85f2b5429384cd34a78d6b110e" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_cdb1134a9de24c1aafdfc628666acaa3.setContent(html_0bb81c85f2b5429384cd34a78d6b110e);
        

        circle_marker_4283516823644ad0a0ab781526471325.bindPopup(popup_cdb1134a9de24c1aafdfc628666acaa3)
        ;

        
    
    
            circle_marker_4283516823644ad0a0ab781526471325.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_8331dd39c7c743d2b720c58e4fdad87b = L.circleMarker(
                [0.33203530000000003, 32.570407],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_550e98c2edb644558e1ff96e4a79bceb);
        
    
        var popup_863d4596def443db829a435e462396b9 = L.popup({"maxWidth": "100%"});

        
            var html_da2a1d9b7aca4680863b3cbbfd6934ef = $(`<div id="html_da2a1d9b7aca4680863b3cbbfd6934ef" style="width: 100.0%; height: 100.0%;">67%</div>`)[0];
            popup_863d4596def443db829a435e462396b9.setContent(html_da2a1d9b7aca4680863b3cbbfd6934ef);
        

        circle_marker_8331dd39c7c743d2b720c58e4fdad87b.bindPopup(popup_863d4596def443db829a435e462396b9)
        ;

        
    
    
            circle_marker_8331dd39c7c743d2b720c58e4fdad87b.bindTooltip(
                `<div>
                     click for more
                 </div>`,
                {"sticky": true}
            );
        
</script>